<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="userDAO"
        class="dao.UserDAO" >
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
     </bean>
     <bean id="requestDAO"
        class="dao.RequestDAO" >
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
     </bean>
     <bean id="requestForVoterIdDAO"
        class="dao.RequestForVoterIdDAO" >
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
     </bean>
     
     <bean id="voterDAO"
        class="dao.VoterIdDAO" >
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
     </bean>

    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="mappingResources">
            <list>
                <value>dao/User.hbm.xml</value>            
                <value>dao/WardID.hbm.xml</value>
                <value>dao/Request.hbm.xml</value>
                <value>dao/VoterId.hbm.xml</value>
                <value>dao/FileInfo.hbm.xml</value>
                <value>dao/FileContent.hbm.xml</value>
                <value>dao/RequestForVoterId.hbm.xml</value>
                <value>dao/WardUser.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                 <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/ipoll</prop>
                <prop key="hibernate.connection.username">root</prop>
                <prop key="hibernate.connection.password">root</prop>
            </props>
        </property>
        </bean>
    <bean id="hibernateTemplate"
        class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>
    
    <bean id="txProxyFactory" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" lazy-init="true">
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="transactionAttributeSource">
            <ref bean="attributeSource"/>
        </property>
    </bean>
</beans>
