<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/applicationContext*.xml</param-value>
  </context-param>
  
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>*.action</url-pattern>
  </filter-mapping>
	<servlet>
		<servlet-name>AjaxUserExist</servlet-name>
		<servlet-class>action.AjaxUserExistance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxUserExist</servlet-name>
		<url-pattern>/UserExist</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FileAction</servlet-name>
		<servlet-class>action.FileAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileAction</servlet-name>
		<url-pattern>/File</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AjaxWardExisit</servlet-name>
		<servlet-class>action.AjaxWardExistance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxWardExisit</servlet-name>
		<url-pattern>/AjaxWardExisit</url-pattern>
	</servlet-mapping>
    <filter> 
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	
	<filter-mapping> 
			<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

 <listener>
 	<listener-class>dao.BaseHibernate</listener-class>
 </listener>
 <listener>
 	<listener-class>listeners.UserSessionOutListener</listener-class>
 </listener>
  <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
   
   <listener>
      <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
   </listener>
	
   <listener>
      <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
   </listener>
<!--    
   <listener>
   		<listener-class>com.test.listners.SessionListener</listener-class>
   </listener>
-->
	<welcome-file-list>
		<welcome-file>home.action</welcome-file>
	</welcome-file-list>
</web-app>